
<nav class="navbar navbar-expand-sm bg-light justify-content-center">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <button class="btn-nav" routerLink="/photos">FOTOS</button>
    </li>
    <li class="nav-item">
      <button class="btn-nav" routerLink="/users">USUARIOS</button>
    </li>
    <li class="nav-item">
      <button class="btn-nav" routerLink="/comments">COMENTARIOS</button>
    </li>
    <li class="nav-item">
      <button class="btn-nav" routerLink="/tasks">TAREAS</button>

    </li>
  </ul>

</nav>
